@{
  Layout = "_Layout";
}
    <div class="navbar">
      <nav>
        <img src="~/img/logo.png" alt="bakery logo" class="bakery-logo">
        <ul>
          <li><a href="/vendors">PIERRES VENDORS</a></li>
          <li><a href="/vendors/new">ADD A NEW VENDOR</a></li>
          <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">CLICK HERE</a></li>
        </ul>
      </nav>
    </div>
    <div class="container">
      <h1>Welcome to Pierre's Catering Company</h1>
      <h3><a href='/vendors'>View vendors</a></h3>
      <h3><a href='/vendors/new'>Add a new Vendor</a></h3>
    </div>
