@{
  Layout = "_Layout";
}
    <div class="navbar">
      <nav>
        <img src="~/img/logo.png" alt="bakery logo" class="bakery-logo">
        <ul>
          <li><a href='/'>BACK TO THE HOME PAGE</a></li>
          <li><a href="/vendors/new">ADD A NEW VENDOR</a></li>
          <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">CLICK HERE</a></li>
        </ul>
      </nav>
    </div>
    <div class="container">
      @using Bakery.Models;

      <h1>Vendors</h1>

      @if (@Model.Count == 0)
      {
        <h3>No vendors have been added yet!</h3>
        <p>Click on the link above to add new vendors</p>
      } 

      @foreach (Vendor vendor in Model)
      {
        <h3><a href='/vendors/@vendor.Id'>@vendor.Name</a></h3>
      }
    </div>